.selectMenus {
  display: flex;
  list-style: none;
  gap: 5px;
}

.selectMenus li {
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  border-radius: 5px;
  padding: 5px 8px;
}

.selectMenus li:hover {
  background-color: #6d6afe;
  color: #fff;
}
