.thumb {
  max-width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 100%;
  max-height: 350px;
  background-position: center;
  object-fit: cover;
}

.thumb img:hover {
  transition: all 0.3s;
  transform: scale(1.3);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
  padding: 20px 20px;
  background-color: #f9f9f9;
  border-top: solid 1px #ebebeb;
}

.header {
  display: flex;
  justify-content: space-between;
}

.timeDifference,
.createdAt {
  margin: 0;
}

.description {
  overflow: hidden;
  margin: 10px 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  height: 3.6em;
}

@media (min-width: 767px) {
  .thumb {
    height: 250px;
  }
  .thumb img {
    max-height: 250px;
  }
  .content {
    height: 150px;
    padding: 15px 15px;
  }
  .description {
    margin: 5px 0;
  }
}
