.input {
  width: 100%;
  height: 60px;
  padding: 18px 15px;
  color: #373740;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-white, #fff);
}

.input:focus {
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  outline: none;
}

.input.error {
  border: 1px solid var(--linkbrary-primary-color, red);
}
