.upperMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderSelector {
  padding: 0;
}

.addFolder {
  display: none;
}

.folderOption {
  display: flex;
  flex-direction: column;
}

.title {
}

@media (min-width: 768px) {
  .addFolder {
    display: block;
  }
  .folderOption {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
