.upperMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderSelector {
  padding: 0;
}

.addFolder {
  display: none;
}

.title {
}

.editorList {
  display: flex;
  gap: 5px;
}

.editor {
  display: flex;
  align-items: center;
  color: #9fa6b2;
}

.folderOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .addFolder {
    display: block;
  }
}
