ul.popup {
  position: absolute;
  width: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 10px;
}

ul.popup li {
  padding: 10px;
  text-align: center;
}

ul.popup li:hover {
  background-color: #e7effb;
  color: #6d6afe;
}
