.userMenu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;

  .iconButton {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
