.container {
  span {
    color: red;
  }

  .inputLabel {
    font-size: 1rem;
    font-weight: 300;
  }

  .input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .eyeButton {
      position: absolute;
      right: 1rem;
      border: none;
      background-color: #fff;
    }
  }
}
