.emptyList {
  text-align: center;
}

.folderMenu {
}

.upperMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderSelector {
  padding: 0;
}

.addFolder {
  display: none;
}

.title {
}

.editor {
}

.folderOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .linkList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .addFolder {
    display: block;
  }
}

@media (min-width: 1124px) {
  .linkList {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
