.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 15px;
}

.closeButton {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 15px;
  right: 15px;
}

.title {
  margin: 0px;
  text-align: center;
}

.folderName {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #9fa6b2;
  font-size: 16px;
  font-weight: 400;
}

.deleteButton {
  background: var(--Linkbrary-red, #ff5b56);
  height: 50px;
}
