.upperMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .folderSelector {
    padding: 0;
  }

  .addFolderFAB {
    position: fixed;
    right: 50%;
    transform: translate(50%, 50%);
    bottom: 101px;
    z-index: 1;
  }
}

.folderOption {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .folderOption {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
