@media (min-width: 768px) {
  .linkList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .linkList {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
