.modalContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.window {
  position: fixed;
  background-color: white;
  width: 50%;
  height: 50%;
  text-align: center;
}
