.card {
  margin: 20px 0;
  max-width: 650px;
  max-height: 520px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  border: solid gray;
}

.card:hover {
  z-index: 1;
  transition: all 0.3s;
  transform: scale(1.3);
}
