.nav {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  background-color: #f0f6ff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  color: #f5f5f5;
  display: flex;
  padding: 16px 20px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}
