.bg {
  background-color: #f0f6ff;
  text-align: center;
}

.container {
  background-color: #fefefe;
  padding-top: 30px;
  padding-bottom: 100px;
}

.icon {
  height: 100px;
}

.texts {
  margin: 0;
}

.owner {
  margin: 5px;
}

.folderName {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 50px;
}
